.turn-program-container {
  font-family: 'Poppins', sans-serif;
  background-color: #2E2E2E;
  height: 100vh;
  display: flex;
  flex-direction: row;

  p {
    color: #F1F1F1;
    margin: 0;
  }
}
.main-tables {
  overflow-x: hidden;        /* This div isn't the one that scrolls */
  width: 73%;
  max-width: 64vw;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  max-width: 36vw;
  padding: 1rem;
}

.settings-container {
  height: 10vh;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 5px solid #666;
  border-radius: var(--mantine-radius-xs);

  .settings-button {
    height: 100%;
    margin: 0;
  }
}

.appointment-types-container {
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;   /* <- Use flex-start for natural overflow */
  max-height: 52vh;
  padding: 5px;
  border: 5px solid #666;
  border-radius: var(--mantine-radius-xs);

  .appointment-button {
    height: 9vh;
    width: 30%;
    margin: .25rem;
    display: flex;
    flex-direction: column;
  }
}

.employees-container {
  max-height: 40vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
    padding: 10px;
  border: 5px solid #666;
  border-radius: var(--mantine-radius-xs);

  .employee-button {
    height: 11vh;
    width: 45%;
    margin: .5rem;
  }
}

.mantine-Drawer-header {
  background-color: #4A4553;
  color: #F1F1F1;
  padding: 20px;
  padding-bottom: 10px;
}

.mantine-Drawer-content {
  background-color: #4A4553;
  color: #F1F1F1;
  border-right: 2px solid #5E5B6A;
}

.mantine-Modal-content {
  background-color: #4A4553;
}

.mantine-Modal-header {
  background-color: #4A4553;
  color: #F1F1F1;
  padding-bottom: 10px;
  border-bottom: 1px solid #5E5B6A;
}

Button {
  margin: 0;
}