.mantine-Grid-inner {
    display: flex;
    justify-content: center;
}

.about-me-section {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
.about-me-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.profile-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 20px auto;
}

.about-me-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-me-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #444;
}
  