.employee-header {
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6vh;
  width: 100%;
}

.icons {
  width: 36px;
  height: 36px;
  margin-left: 10px;
}

.clock-button {
  margin: 0;
  width: 12vw; 
  height: 8vh;
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  right: 10vw;
}